<h2>Top Heroes</h2>

<div class="card-deck">
  <div class="card" *ngFor="let hero of heroes">
    <img class="card-img-top" src="{{hero.img}}" alt="Card image cap" height="250" width="250">
    <div class="card-body">
      <h5 class="card-title">{{hero.name}}</h5>
      <p class="card-text">{{hero.description}}</p>
      <a routerLink="/detail/{{hero.id}}" class="btn btn-primary">
        <div class="btn btn-primary">Check info for {{hero.name}}</div>
      </a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>


<app-hero-search></app-hero-search>