<div class="container">
  <h2>My Heroes</h2>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let hero of heroes">
      <span class="badge badge-primary">{{hero.id}}</span>
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
      <button class="btn btn-danger" title="delete hero" (click)="delete(hero)">x</button>
    </li>
  </ul>
</div>

<div class="containerp p-3">
<div class="form-inline">
  <div class="form-group mx-auto">
    <label for="heroName">Hero name</label>
  </div>
  <div class="form-group mx-auto">
    <input class="form-control" id="heroName" #heroName />
  </div>
  <button class="btn btn-success mx-auto" (click)="add(heroName.value); heroName.value=''">ADD</button>
</div>
</div>